body {
background: lightgray;
border: 10px solid black;
padding: 60px;
text-align: center;
font-family: arial,helvetica, sans-serif;
font-size: 12;
border-color: green;
text-decoration: underline;

	

}