* {
	box-sizing: border-box;
}

header .logo {
	float: left;
	height: 100px;
	width: 25%;
}

header nav {
	padding-top: 25px;
}

header nav a {
	display: inline-block;
    width: 14%;
    height: 50px;
    float: right;
    margin-left: 12px;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#main-content {
	width: 100%;
	padding-top: 15px;
}

#main-content .placeholder {
	height: 400px;
	margin: 15px;
}

#left-content .placeholder, #right-content .placeholder {
	
}

header, footer, .content-container {
	margin: 15px;
}

header {
	margin: 15px 15px 0;
}

footer, .content-container {
	clear: both;
	padding-top: 15px; /* margin-top is not respected on this cleard element, so added padding-top */
}

footer .placeholder {
	height: 120px;
	width: 100%;
}

.placeholder {
	background-color: #ddd;
	border: 1px solid gray;
}

.content-container {
	margin-bottom: 15px;
}

.content-container .secondary-content {
	width: 33.33333%;
	float: left;
	padding: 0 15px;
}

.content-container .secondary-content.first {
	padding-left: 0px;
}

.content-container .secondary-content.last {
	padding-right: 0px;
}

.content-container .secondary-content .placeholder {
	height: 150px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}